header {
    display:inline;
    justify-content: center;
    padding: 15px 50px; 
    background: #f1f1f123 ;   
    font-size: 15px;    
}
.title{
  padding: 20px 0;
   text-align: center;
   font-size: 25px;
   color:#0f0f0f;
}
